* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a:-webkit-any-link {
  text-decoration: none;
}

body {
  min-height: 100vh;
  position: relative;
}

.label-input-edicao {
  font-size: 15px;
  font-weight: bold;
}
