.card-usuario {
  height: 400px;
  width: 700px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  background-color: #8b8b8b;
}

.card-informacoes-usuario {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  color: black;
}

.informacoes-texto-card-usuario {
  font-size: 20px;
  height: 90%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.informacoes-texto-card-usuario > P {
  text-decoration: none;
}

.imagem-usuario > img {
  width: 150px;
  border-radius: 10px;
}
